* {
    margin: 0;
    box-sizing: border-box;
}
.navbar-block {
    padding: 20px;
}
.container {
    border: 1px solid;
}

.title {
    display: block;
    text-transform: uppercase;
}
.subtitle {
    display: block;
}
.advantages {
    text-transform: uppercase;
    
}
.hero {
    text-transform:uppercase;
    text-align: center;
    padding: 10px;
}
.img-header {
    width: 100%;
}
.img-hero {
    width: 100%;
}
.price-services {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.telefon {display: flex;
    flex-flow: column;
}

.footer {
    padding: 20px;
}