* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    order: 1px solid rgb(233, 225, 240);
    color:#900020
}
.navbar {
    background-color: #FFF0F5;
    color:#900020;
    border: 1px solid rgb(207, 204, 209);
}
.navbar-menu {
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
   
}
.phone,.Email {
color: #000000;
font-weight: 500;
padding: 0.5rem 0.5rem ;
}
.social {
    padding: 0.5rem 0.5rem ;
}
.header {
    background-color: rgb(251,240,208);
}

.heding {
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 500;
}
.title {
    display: block;
    text-transform: uppercase;
}
.actions {
    background-color: rgb(251,240,208);
}
.actions-subtitle {
    
    text-align: center;
    font-family: sans-serif;
}
.actions-number {
    font-size: 40px;
    text-align: center;
}
.actions-text {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}


.subtitle-advantages {
    font-family: sans-serif;
    text-align: center;
}



.hero {
    
    text-align: center;
    padding: 10px;
}
.img-header {
    width: 100%;
}
.img-hero {
    width: 100%;
}
.services {
    background-color: rgb(251,240,208);
}
.price-services {
    background-color: rgb(255, 253, 254);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.gallery{
    text-align: center;  
    padding: 20px;
}

.contacts {
    background-color: rgb(255,211,181);
    padding: 20px;
}